<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarea</th>
      <th scope="col">Estado</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of lista; let i = index">
      <th>{{ i + 1 }}</th>
      <td>
        {{ task.task }}
      </td>
      <td>{{ task.status }}</td>
      <td>
        <i class="bi bi-trash-fill text-danger" (click)="deleteTask(i)"></i
        ><i
          class="bi bi-hourglass-bottom text-primary"
          (click)="changeStatus(i)"
        ></i>
        <i class="bi bi-pencil-square" (click)="modalOpen(i)"></i>
        <i
          class="bi bi-pencil-square text-primary"
          (click)="taskIndex = i"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
<input
  type="text"
  placeholder="Agregar tarea..."
  class="form-control-sm"
  [(ngModel)]="inputValue"
/>
<button class="btn btn-primary" (click)="addTask()">Agregar</button>
{{ inputValue }}

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Ingrese la nueva tarea
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          placeholder="Nuevo nombre"
          [(ngModel)]="nuevoNombre"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="changeTask(taskIndex)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modalaaaa" *ngIf="modal">
  <p>hola</p>
  <button class="btn btn-primary" (click)="modal = !modal">Cerrar modal</button>
  <input type="text" placeholder="Nuevo nombre" [(ngModel)]="nuevoNombre" />
  <button type="button" class="btn btn-primary" (click)="changeTask(taskIndex)">
    Save changes
  </button>
</div>
